html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: default;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, p {
    -webkit-user-select: none;
}

.titlebar {
    -webkit-app-region: drag;

    width: 100%;
    height: 50px;
    background-color: purple;
    color: white;

    text-align: center;
    font-family: arial;
    font-size: 20px;

    position: relative;
    top:0;
    left: 0;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.appbody {
    position: relative;
    top:0;
    left: 0;

    height: calc(100% - 50px);
    width: 100%;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;

    background-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #61E8FE
}

h2 {
    font-family: calibri;
}

.spacing {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100px;
    float: left;
}

.attribution {
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 5px;
}